*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-image: url(Drums\ BG.jpg);
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left 25% top 20%;
    overflow: hidden;
}

h1{
    color:white;
    text-align: center;
    font-size: 10vh;
    background: linear-gradient(rgba(0,0,0,0.5),  rgba(50, 50, 50, 0.48));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1cap;
}

.keys{
    display: flex;
    flex-flow: row wrap;
    height: 75vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
    padding-top: 7vh;
    gap: 1rem 3rem;
}

.key{
    background: linear-gradient(80deg, rgba(0,0,0), rgb(50,50,50));
    height: 20%;
    width: 20%;
    cursor: pointer;
    transition: all 0.07s;
    border: 0;
    border-radius: 10%;
}

kbd{
    display: block;
    height: 50%;
    width: inherit;
    color: white;
    margin: 0 auto 8% auto;
    font-size: 4rem;
}

.sound{
    height: 20%;
    width: inherit; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 auto 0 auto;
}

.playing{
    transform: scale(1.1);
    box-shadow: 0 0 1rem #ffc600;
}



